<ion-header>
  <ion-navbar>
  	<ion-buttons end>
  		<button ion-button icon-button icon-only>
  			<ion-icon name='more'></ion-icon>
  		</button>
  	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-item class='myItem' (click)='goPersonHome($event)'> 
	    <ion-thumbnail item-left class='ion-th'>
	      <img [src]='user.uImg' class='roundImg'>
	    </ion-thumbnail>
	    <h2>{{user.uName}}</h2>
	    <p>{{writings.wTime}}</p>
	    <span ion-button icon-button icon-left item-right *ngIf='!isGuanzhu && !isLoading'>
	    	  <span style="font-size: 18px;margin-right: 3px;">+</span> 关注
	    </span>
	    <span ion-button icon-button icon-left item-right *ngIf='isGuanzhu && !isLoading'>
	    	  已关注
	    </span>
	    <ion-spinner name='ios' *ngIf='isLoading' item-right></ion-spinner>
	</ion-item>

	<h1 class="title">{{writings.wTitle}}</h1>
	<img [src]='writings.wImg' *ngIf='writings.wImg' class="img">
	<div class="content">
		{{writings.wContent}}
	</div>
	<div class="divider big">
		评论 {{writings.conCount}}	<button  class="only_autor" (click)='conStatus()' [ngClass]='{"active": only_autor}'>只看作者</button>
	</div>
	<ion-list>
		<ion-item *ngFor='let c of comments;let i = index; ' class='border noPadding'>
			<img [src]='c.user.uImg' class='userImg roundImg' (click)='goPersonHomeS(c.user)'>
			<span class="message" (click)='goPersonHomeS(c.user)'>
				<h3 class="name">{{c.user.uName}}</h3>
				<p> <span class="floor">{{i + 1}}楼</span> <span class="time">{{c.time.substr(5,11)}}</span> </p>
			</span>
			<span item-right>
				<ion-icon name='ios-thumbs-up-outline'></ion-icon> {{c.loveCount}}
			</span>
			<div class="content">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi officia consectetur consequatur omnis adipisci harum, perspiciatis ducimus quibusdam distinctio maxime sint dignissimos doloremque dolorum exercitationem eum, id assumenda qui consequuntur.
			</div>
		</ion-item>
	</ion-list>
</ion-content>
