<ion-header>
  <ion-navbar>
  	<ion-buttons end>
  		<button ion-button icon-button icon-only>
  			<ion-icon name='more'></ion-icon>
  		</button>
  	</ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
	<ion-refresher (ionRefresh)='init($event)'>
	    <ion-refresher-content
	      pullingIcon="arrow-dropdown"
	      pullingText="Pull to refresh"
	      refreshingSpinner="circles">
	    </ion-refresher-content>
	</ion-refresher>
	<ion-item class='myItem' (click)='goPersonHome($event)'> 
	    <ion-thumbnail item-left class='ion-th'>
	      <img [src]='user.uImg' class='roundImg'>
	    </ion-thumbnail>
	    <h2>{{user.uName}}</h2>
	    <p>{{writings.wTime}}</p>
	    <span ion-button icon-button icon-left item-right *ngIf='!isGuanzhu && !isLoading'>
	    	  <span style="font-size: 18px;margin-right: 3px;">+</span> 关注
	    </span>
	    <span ion-button icon-button icon-left item-right *ngIf='isGuanzhu && !isLoading'>
	    	  已关注
	    </span>
	    <ion-spinner name='ios' *ngIf='isLoading' item-right></ion-spinner>
	</ion-item>

	<h1 class="title">{{writings.wTitle}}</h1>
	<img [src]='writings.wImg' *ngIf='writings.wImg' class="img">
	<div class="content">
		{{writings.wContent}}
	</div>
	<div class="divider big">
		评论 {{writings.conCount}}	<button  class="only_autor" (click)='conStatus()' [ngClass]='{"active": only_autor}'>只看作者</button>
	</div>
	
	<ion-card *ngFor='let c of comments; let i = index; '>
		<ion-item (click)='goPersonHomeS(c.user)'>
			<ion-avatar item-left><img [src]="c.user.uImg"></ion-avatar>
			<h2>{{c.user.uName}}</h2>
			<p>{{i + 1}}楼</p>
			<span item-right>{{c.time.substr(5,10)}}</span>
		</ion-item>
		<ion-card-content>
			{{c.content}}
		</ion-card-content>
		<ion-row>
			<ion-col>
				<button ion-button icon-right clear small (click)='toggleZan(c)'>
					<div>{{c.loveCount}}</div>
					<ion-icon name='thumbs-up'  *ngIf='!c.isZan'></ion-icon>
					<ion-icon name='thumbs-up' color='danger'  *ngIf='c.isZan'></ion-icon>
				</button>
			</ion-col>
			<ion-col  class='commentsNum' (click)='goCommentsDetail(c)'>
				<button ion-button icon-left clear small>
					<ion-icon name='text'></ion-icon>
					<div>{{c.c_c_num}} comments</div>
				</button>
			</ion-col>
		</ion-row>
	</ion-card>
	<ion-infinite-scroll (ionInfinite)="getMoreComments($event)">
	   <ion-infinite-scroll-content></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>

<ion-footer (tap)='goReplyPage()'>
	<ion-toolbar>
		<ion-input placeholder='评论'></ion-input>
	</ion-toolbar>
</ion-footer>